<br><br>
<h1 class="header red-text">Welcome to Dreamer</h1>
<div class="row">
    <h5 class="header col s12 light">A place to read and write your amazing Dream Strories</h5>
</div>
<div class="row">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title"></span>
            <p>You can write about anything you want, and share it with your friends</p>
        </div>
        <div class="card-action">
            <a href="/auth/login">Write a Dream</a>
            <a href="/dreams">Check out some Cool Dreams</a>
        </div>
    </div>
</div>
<br><br>