<h2>Edit a dream</h2>
<form action="?_method=PUT" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="row">
        <div class="input-field">
            <input type="text" id="title" name="title" class="validate" value='{{dream.title}}' required />
            <label for="title">Title</label>
        </div>
    </div>
    <div class="row">
        <label for="status">
            <span>Status</span>
        </label>

        <select name="status">
            {{#select dream.status}}
            <option value="private" selected>Private</option>
            <option value="public">Public</option>
            <option value="unpublished">Unpublished</option>
            {{/select}}
        </select>
    </div>
    {{!-- <div class="row center-align">
        <input type="file" name="image" id="fileUpload" hidden>
        <button href="#" type="Submit" id="imgUp" class="waves-effect purple btn">choose a cover image</button>
    </div> --}}
    <div class="row">
        <label>
            <input name="allowComments" type="checkbox" class="filled-in" {{#if dream.allowComments}} checked="checked"
                {{/if}} />
            <span>Allow Comments</span>
        </label>
    </div>
    <div class="row">
        <h5 for="body" class="bold">What's On Your Mind</h5>
        <textarea name="body" id="bodyCK" class="materialize-textarea" required>{{dream.body}}</textarea>
    </div>
    <div class="row">
        <button href="#" type="Submit" class="waves-effect btn">Submit</button>
    </div>
</form>
{{!-- <script>
  document.getElementById("imgUp").addEventListener('click', function (event) {
    event.preventDefault();
    document.getElementById("fileUpload").click();
  })

</script> --}}